<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Schibsted+Grotesk&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="form-container">
        <% if(errRegMess) { %>
            <p class="alert alert-danger"><%= errRegMess %></p>
        <% } %>
        <form action="/admin/auth/register" method="post">
            <div class="register">
                <div class="title">
                    <h1>Register</h1>
                </div>
                <div class="user-info">
                    <div class="name-container">
                        <div>
                            <label>Fullname</label>
                        </div>
                        <input type="text" name="name" placeholder="enter your fullname">
                    </div>
                    <div class="email-container">
                        <div>
                            <label>Email</label>
                        </div>
                        <input type="email" name="email" placeholder="enter your email">
                    </div>
                    <div class="phone-container">
                        <div>
                            <label>Phone Number</label>
                        </div>
                        <input type="text" name="phone" placeholder="enter your phone number">
                    </div>
                </div>
                <div class="user-account">
                    <div class="username-container">
                        <div>
                            <label>Username</label>
                        </div>
                        <input type="text" name="username" placeholder="enter your username">
                    </div>
                    <div class="password-container">
                        <div>
                            <label>Password</label>
                        </div>
                        <input type="password" name="password" placeholder="enter your password">
                    </div>
                    <!--                    <div class="password-container">-->
                    <!--                        <div>-->
                    <!--                            <label>Confirm Password</label>-->
                    <!--                        </div>-->
                    <!--                        <input type="password" name="password" placeholder="re-enter your password">-->
                    <!--                    </div>-->
                    <div class="address-container">
                        <div >
                            <label>Address</label>
                        </div>
                        <input type="text" name="address" placeholder="enter your address">
                    </div>
                </div>

                <div class="btn-submit">
                    <button type="submit">Register</button>
                </div>
                <a href="admin/auth/login">
                <div class="btn-submit">
                    <button type="button">Back to Login site</button>
                </div>
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>